{% extends 'layout/base.html' %}

{% block title %}О нас и нашем проекта{% endblock %}
{% block content %}
	<h1 class="page-header">Разработчики</h1>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6 text-center">
				<img src="/images/arsen.png" alt="Арсен Беспалов" class="img-circle img-responsive">
				<h3>Арсен Беспалов</h3>
				<strong>Ведущий разработчик</strong>
			</div>
			<div class="col-sm-6 text-center">
				<img src="/images/semen.png" alt="Александр Семенов" class="img-circle img-responsive">
				<h3>Александр Семенов</h3>
				<strong>Специалист по базам данных</strong>
			</div>
		</div>
	</div>
	<h1>Об этом проекте</h1>
	<p class="lead">С самого начала мы старались сделать этот проект бесплатным для всех, пытались сделать бесплатным добавление и подтверждение номеров, но реальность нас победила и мы никак не хотели оказаться меценатами для всего мира. Долгие переговоры и уговоры предоставлять нам ограниченные данные совершенно бесплатно из справочника 2ГИС не принес никаких результатов. Попытки сделать бесплатные звонки и смски еще быстрее пришли к тому же результату к которому пришли переговоры с 2ГИС. В результате проект оказался платным со всех сторон, но довольно таки открытым для всех желающих.</p>
	<p class="lead">Мы даже будем рады любой вашей помощи, все наши проекты находяться на Github в открытом репозитории. Если вы тот человек, который готов помочь нашему проекту напишите нам об этом с подробным описанием вашего предложения.</p>
	<h1>Помощь и содействие</h1>
	<p class="lead">Выражаем огромную благодарность всем этим людям:</p>
	<ul class="list-inline">
		<li><span class="label label-primary">Александр Краско</span></li>
		<li><span class="label label-primary">Динара Беспалова</span></li>
		<li><span class="label label-primary">Олег Ефимов</span></li>
	</ul>
	<p class="text-muted">Каждый из этих людей внёс свою лепту в этот проект. И каждому из этих людей уже можно гордиться тем, что они также внесли вклад в проект, который создан быть полезным для многих людей пользующихся телефонной связью.</p>
{% endblock %}