{% extends 'layout/base.html' %}

{% block title %}О нас и нашем проекта{% endblock %}
{% block content %}
	<h1 class="page-header">Разработчики</h1>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6 text-center">
				<img src="/images/arsen.jpg" alt="Арсен Беспалов" class="img-circle">
				<h4>Арсен Беспалов</h4>
				<strong>Ведущий разработчик</strong>
			</div>
			<div class="col-sm-6 text-center">
				<img src="/images/semen.jpg" alt="Александр Семенов" class="img-circle">
				<h4>Александр Семенов</h4>
				<strong>Специалист по базам данных</strong>
			</div>
		</div>
	</div>
{% endblock %}