{% extends 'layout/base.html' %}

{% block title %}О нас и нашем проекта{% endblock %}
{% block content %}
	<h1 class="page-header">Разработчики</h1>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6 text-center">
				<img src="/images/arsen.png" alt="Арсен Беспалов" class="img-circle img-responsive">
				<h3>Арсен Беспалов</h3>
				<strong>Ведущий разработчик</strong>
			</div>
			<div class="col-sm-6 text-center">
				<img src="/images/semen.png" alt="Александр Семенов" class="img-circle img-responsive">
				<h3>Александр Семенов</h3>
				<strong>Специалист по базам данных</strong>
			</div>
		</div>
	</div>
{% endblock %}