{% extends 'layout/base.html' %}

{% block title %}Административный раздел системы CNAM РФ{% endblock %}
{% block content %}
	<h1 class="page-header">Управляй и влавствуй!</h1>
	<div class="tabpanel">
		<ul class="nav nav-tabs" role="tablist" id="adminTab">
			<li class="active" role="presentation">
				<a href="#tariff" aria-controls="tariff" role="tab" data-toggle="tab">Тарифы</a>
			</li>
			<li role="presentation">
				<a href="#users" aria-controls="users" role="tab" data-toggle="tab">Пользователи</a>
			</li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane active" id="tariff" role="tabpanel">
				sdfsdfsdf
			</div>
			<div class="tab-pane" id="users" role="tabpanel">
				234862873642765
			</div>
		</div>
	</div>
{% endblock %}
{% block scripts %}
	<script>
	$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
	  e.target // newly activated tab
	  e.relatedTarget // previous active tab
	})
	</script>
{% endblock %}