{% extends 'layout/base.html' %}

{% block title %}Административный раздел системы CNAM РФ{% endblock %}
{% block content %}
	<h1 class="page-header">Управляй и влавствуй!</h1>
	<div class="tabpanel">
		<ul class="nav nav-tabs" role="tablist" id="adminTab">
			<li class="active" role="presentation">
				<a href="#tariff" aria-controls="tariff" role="tab" data-toggle="tab">Тарифы</a>
			</li>
			<li role="presentation">
				<a href="#users" aria-controls="users" role="tab" data-toggle="tab">Пользователи</a>
			</li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane active" id="tariff" role="tabpanel">
				<h3>Управление тарифами</h3>
				<p>Внимание! Будь внимателен, осторожно редатируйте тарифы, т.к. изменения применяются моментально и вы своими действиями можете оставить без денег либо нас, либо клиентов.</p>
				<table class="table table-hover table-responsive">
					<thead>
						<tr>
							<th>Назавание тарифа</th>
							<th>Цена запроса</th>
							<th>Кол-во запросов</th>
							<th>Цена тарифа</th>
							<th>Действие</th>
						</tr>
					</thead>
					<tbody>
						{% for tarif_data in tariff_datas %}
							<tr>
								<td>{{ tarif_data.name }}</td>
								<td><span id="price">{{ tarif_data.price }}</span> <i class="fa fa-rub"></i></td>
								<td><span id="qty">{{ tarif_data.qty }}</span></td>
								<td><span id="sum">{{ tarif_data.sum }}</span> <i class="fa fa-rub"></i></td>
								<td><button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#addEditTariff" data-tariff-action="edit" data-tariff-id="{{ tarif_data.id }}" data-tariff-name="{{ tarif_data.name }}" data-tariff-code="{{ tarif_data.code }}" data-tariff-desc="{{ tarif_data.desc }}" data-tariff-price="{{ tarif_data.price }}" data-tariff-qty="{{ tarif_data.qty }}" data-tariff-summ="{{ tarif_data.sum }}"><i class="fa fa-pencil"></i> Редактировать</button></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<div class="text-center">
					<button type="button" class="btn btn-success" data-toggle="modal" data-target="#addEditTariff" data-tariff-action="add"><i class="fa fa-plus"></i> Добавить новый тариф</button>
				</div>
			</div>
			<div class="tab-pane" id="users" role="tabpanel">
				<h3>Управление рабами</h3>
				<p>Если рабов много и они активно пользуются дорогими тарифами, то мы, господа, живем хорошо и возможно в Париже. Случайно не дайте права какому-нибудь рабу права господина (администратора).</p>
				<table class="table table-hover table-responsive">
					<thead>
						<tr>
							<th>E-mail</th>
							<th>API ключ</th>
							<th>Тариф</th>
							<th>Компания</th>
							<th>Админ</th>
							<th>Действие</th>
						</tr>
					</thead>
					<tbody>
						{% for user_data in users_data %}
							<tr>
								<td>{{ user_data.email }}</td>
								<td>{{ user_data.apikey }}</td>
								<td>{{ user_data.tariff }}</td>
								<td>{{ user_data.company }}</td>
								<td>{% if user_data.admin in 't' %} да {% else %} нет {% endif %}</td>
								<td></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="modal fade" id="addEditTariff" tabindex="-1" role="dialog" aria-labelledby="adminModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="adminModalLabel">Добавление нового тарифного плана</h4>
				</div>
				<div class="modal-body">
					<form action="/cabinet/addTariff/" method="post" id="addEditTariffForm">
						<div class="form-group">
							<label for="tariffName" class="control-label">Название тарифа (text):</label>
							<input type="text" class="form-control" id="tariffName" name="tariffName">
						</div>
						<div class="form-group">
							<label for="tariffCode" class="control-label">Код тарифа (latin):</label>
							<input type="text" class="form-control" id="tariffCode" name="tariffCode">
						</div>
						<div class="form-group">
							<label for="tariffDescription" class="control-label">Описание тарифа (html):</label>
							<textarea name="tariffDescription" id="tariffDescription" class="form-control"></textarea>
						</div>
						<div class="form-group">
							<label for="tariffPrice" class="control-label">Цена 1 запроса (numeric):</label>
							<input type="text" class="form-control" id="tariffPrice" name="tariffPrice">
						</div>
						<div class="form-group">
							<label for="tariffQty" class="control-label">Кол-во запросов в пакете (numeric):</label>
							<input type="text" class="form-control" id="tariffQty" name="tariffQty">
						</div>
						<div class="form-group">
							<label for="tariffSum" class="control-label">Стоимость тарифа (numeric):</label>
							<input type="text" class="form-control" id="tariffSum" name="tariffSum">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button class="btn btn-default" type="button" data-dismiss="modal">Отменить</button>
					<a class="btn btn-danger" href="#." id="delete">Удалить</a>
					<button class="btn btn-primary" id="action">Добавить</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block scripts %}
	<script>
	$(function () {
		var hash = window.location.hash
		$('#adminTab a[href="'+hash+'"]').tab('show')

		$('#addEditTariff').modal({
			keyboard: false,
			backdrop: false,
			show: false
		})
		
		$('span[id="price"]').number(true, 2, '.', ' ')
		$('span[id="qty"]').number(true, 0, '.', ' ')
		$('span[id="sum"]').number(true, 2, '.', ' ')
		
		$('#tariffPrice').number(true, 2, '.', ' ')
		$('#tariffQty').number(true, 0, '.', ' ')
		$('#tariffSum').number(true, 2, '.', ' ')

		$('#addEditTariffForm').submit(function(e){
			$('#tariffPrice').number(true, 2, '.', '')
			$('#tariffQty').number(true, 0, '.', '')
			$('#tariffSum').number(true, 2, '.', '')
			return true
		})

		$('#addEditTariff').on('show.bs.modal', function (event) {
			var button = $(event.relatedTarget)
			var action = button.data('tariff-action')
			var modal = $(this)
			if (action == 'edit')
			{
				var id = button.data('tariff-id')
				var name = button.data('tariff-name')
				var code = button.data('tariff-code')
				var desc = button.data('tariff-desc')
				var price = button.data('tariff-price')
				var qty = button.data('tariff-qty')
				var sum = button.data('tariff-summ')

				modal.find('.modal-title').text('Редактирование тарифа «' + name + '»')
				modal.find('.modal-body input#tariffName').val(name)
				modal.find('.modal-body input#tariffCode').val(code)
				modal.find('.modal-body textarea#tariffDescription').val(desc)
				modal.find('.modal-body input#tariffPrice').val(price)
				modal.find('.modal-body input#tariffQty').val(qty)
				modal.find('.modal-body input#tariffSum').val(sum)
				modal.find('form#addEditTariffForm').attr('action', '/cabinet/changeTariff/' + id + '/')
				modal.find('#action').text('Сохранить')
				modal.find('#delete').attr('href', '/cabinet/deleteTariff/' + id + '/')
				modal.find('#delete').show();
			} else {
				modal.find('.modal-title').text('Добавление нового тарифного плана')
				modal.find('.modal-body input#tariffName').val('')
				modal.find('.modal-body input#tariffCode').val('')
				modal.find('.modal-body textarea#tariffDescription').val('')
				modal.find('.modal-body input#tariffPrice').val('')
				modal.find('.modal-body input#tariffQty').val('')
				modal.find('.modal-body input#tariffSum').val('')
				modal.find('form#addEditTariffForm').attr('action', '/cabinet/addTariff/')
				modal.find('#action').text('Добавить')
				modal.find('#delete').attr('href', '#.')
				modal.find('#delete').hide()
			}
			modal.find('#action').click(function() { $('form#addEditTariffForm').submit() })
		})
	})
	</script>
{% endblock %}