{% extends 'layout/base.html' %}

{% block title %}Баланс{% endblock %}
{% block content %}
	<h1 class="page-header">Пополнение баланса лицевого счета</h1>
	<p class="lead">Для того, чтобы полноценно пользоваться системой необходимо иметь положительный баланс на лицевом счету. Пополняйте любым удобным для вас способом.</p>
	<div class="panel panel-warning">
		<div class="panel-heading">Физическим лицам</div>
		<div class="panel-body">
			<form action="https://money.yandex.ru/eshop.xml" method="post" class="form-inline">
				<input type="hidden" name="shopId" value="{{ yaShopId }}">
				<input type="hidden" name="scid" value="{{ yaSCId }}">
				<input type="hidden" name="customerNumber" value="{{ userid }}">
				<div class="form-group">
					<label for="sum">Сумма пополнения:</label>
					<input type="text" class="form-control" id="sum" name="sum" value="5000.00" placeholder="5000.00">
				</div>
				<button class="btn btn-yandex" type="submit">Пополнить</button>
			</form>
			<p style="padding-top:30px;">Вы можете пополнить свой баланс используя форму выше. Для пополнения можно воспользоваться банковскими картами, электронными деньгами, наличными через более чем 170 тысяч пунктов оплаты в России, с баланса мобильного телефона, либо через Интернет-банкинг.</p>
		</div>
	</div>
{% endblock %}