{% extends 'layout/base.html' %}

{% block title %}Договор-оферта{% endblock %}
{% block content %}
	<h1 class="page-header">Публичный договор-оферта по оказанию информационных услуг</h1>
	<ol>
		<li>Данный документ является официальным предложением (публичной офертой) ИП Беспалов Арсен Георгиевич (ОГРН 314385020500125, ИНН 381004151548), именуемый в дальнейшем Исполнитель, и содержит все существенные условия по оказанию информационных услуг под торговой маркой «CNAM РФ» (сайта www.cnamrf.ru). Перечень информационных услуг приведен в приложении к настоящему договору — Прейскуранте услуг.</li>
		<li>В соответствии с пунктом 2 статьи 437 Гражданского кодекса Российской Федерации (ГК РФ) в случае принятия изложенных ниже условий и оплаты услуг юридическое или физическое лицо, производящее акцепт настоящей оферты, становится Заказчиком (в соответствии с пунктом 3 статьи 438 ГК РФ акцепт оферты равносилен заключению договора на условиях, изложенных в оферте), а Исполнитель и Заказчик совместно — Сторонами настоящего договора.</li>
		<li>В связи с изложенным выше, внимательно прочитайте текст настоящей публичной оферты и ознакомьтесь с прейскурантом услуг. Если Вы не согласны с каким-либо пунктом оферты, Исполнитель предлагает Вам отказаться от использования услуг.</li>
		<li style="padding-top:20px;">Оферта — настоящий документ «Публичный договор-оферта по оказанию информационных услуг CNAM РФ», опубликованный в сети Интернет по адресу: <a href="http://cnamrf.ru/cabinet/contract/">http://cnamrf.ru/cabinet/contract/</a></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ol>
{% endblock %}