{% extends 'layout/base.html' %}

{% block title %}Договор-оферта{% endblock %}
{% block content %}
	<h1 class="page-header">Публичный договор-оферта по оказанию информационных услуг</h1>
	<ol>
		<li>Данный документ является официальным предложением (публичной офертой) ИП Беспалов Арсен Георгиевич (ОГРН 314385020500125, ИНН 381004151548), именуемый в дальнейшем Исполнитель, и содержит все существенные условия по оказанию информационных услуг под торговой маркой «CNAM РФ» (сайта www.cnamrf.ru). Перечень информационных услуг приведен в приложении к настоящему договору — Прейскуранте услуг.</li>
		<li>В соответствии с пунктом 2 статьи 437 Гражданского кодекса Российской Федерации (ГК РФ) в случае принятия изложенных ниже условий и оплаты услуг юридическое или физическое лицо, производящее акцепт настоящей оферты, становится Заказчиком (в соответствии с пунктом 3 статьи 438 ГК РФ акцепт оферты равносилен заключению договора на условиях, изложенных в оферте), а Исполнитель и Заказчик совместно — Сторонами настоящего договора.</li>
		<li>В связи с изложенным выше, внимательно прочитайте текст настоящей публичной оферты и ознакомьтесь с прейскурантом услуг. Если Вы не согласны с каким-либо пунктом оферты, Исполнитель предлагает Вам отказаться от использования услуг.</li>
		<li style="padding-top:30px;">Оферта — настоящий документ «Публичный договор-оферта по оказанию информационных услуг CNAM РФ», опубликованный в сети Интернет по адресу: <a href="http://cnamrf.ru/cabinet/contract/">http://cnamrf.ru/cabinet/contract/</a>.</li>
		<li>Акцепт оферты — полное и безоговорочное принятие оферты путем осуществления Заказчиком действий, указанных в пункте 14 настоящей оферты. Акцепт оферты создает договор оферты.</li>
		<li>Заказчик — лицо, осуществляющее акцепт оферты, и являющееся таким образом Заказчиком услуг Исполнителя по заключенному договору оферты.</li>
		<li>Договор оферты — договор между Исполнителем и Заказчиком на оказание информационных услуг, который заключается посредством акцепта оферты.</li>
		<li>Прейскурант — действующий систематизированный перечень информационных услуг Исполнителя с ценами, приведенный в приложении к настоящей оферте.</li>
		<li style="padding-top:30px;">Предметом настоящей оферты является оказание Заказчику информационных услуг в соответствии с условиями настоящей оферты и текущим прейскурантом услуг Исполнителя.</li>
		<li>Перечень оказываемых информационных услуг приведен в приложении, являющимся неотъемлемой частью настоящей оферты.</li>
		<li>Публичная оферта и приложение к ней являются официальными документами и публикуются на Интернет-ресурсе по адресу: <a href="http://cnamrf.ru/cabinet/contract/">http://cnamrf.ru/cabinet/contract/</a>.</li>
		<li>Исполнитель имеет право в любой момент изменять Прейскурант и условия настоящей публичной оферты в одностороннем порядке без предварительного согласования с Заказчиком, обеспечивая при этом публикацию измененных условий в личном кабинете Заказчика на Интернет-ресурсе по адресу: <a href="http://cnamrf.ru/cabinet/dashboard/">http://cnamrf.ru/cabinet/dashboard/</a> посредством информационного сообщения о необходимости ознакомиться с новыми условия договора-оферты и принять либо отказаться от нового договора оферты.</li>
		<li style="padding-top:30px;">Оказание информационных услуг предоставляются в полном объеме при условии их 100% (сто процентной) оплаты Заказчиком.</li>
		<li>Ознакомившись с прейскурантом услуг Исполнителя и текстом настоящей публичной оферты, Заказчик нажимает кнопку «Принимаю условия настоящего договора-оферты», расположенной после текста оферты и приложения, получая полный доступ ко всем инструментам взаимодействия с системой, либо отказывается принимать условия настоящего договора-оферты, подтверждая удаление ранее сохданной учетной записи Заказчика и возврата на главную страницу Интернет-ресурса: <a href="http://cnamrf.ru/">http://cnamrf.ru/</a>.</li>
		<li>Для получения услуг Заказчик должен пополнить текущий баланс одним из спобов поплнения текущего баланса, будь то перечисление денежным средст на счет в личной кабинете посредствам операторов по приему платежей с банковских карты, терминальных платежных устройств или любой другой электронной валюты для физических лиц, либо путем перечисления денежных средств на счет Исполнителя на основании выставленного счета для юридических лиц.</li>
		<li>Заказчик выставляет счета самостоятельно в личном кабинете пользователя на Интернет-ресурсе по адресу: <a href="http://cnamrf.ru/cabinet/balans/">http://cnamrf.ru/cabinet/balans/</a>.</li>
		<li>После акцепта оферты и с момента зачисления денежным средств на лицевой счет Заказчика Исполнитель обеспечивает предоставление информационных услуг Заказчику в полном объеме согласное данному договору-оферты.</li>
		<li>В случае не поступления от Заказчика претензий с митивированным отказом от услуг в письменном виде в течении 14 дней после оплаты, услуги считаются оказанными надлежащим образом, выполненными в полном объеме и принятыми Заказчиком.</li>
		<li style="padding-top:30px;">Исполнитель делает все возможное, чтобы обеспечивать качественное и бесперебойное предоставление услуг Заказчику в соответствии с прейскурантом услуг.</li>
		<li>Исполнитель не несет ответственности за нарушение условий договора оферты, если такое нарушение вызвано действиями обстоятельств непреодолимой силы (форс-мажор), включая: действия органов государственной власти, пожар, наводнение, землетрясение, другие стихийные действия, отсутствие электроэнергии и/или сбои работы компьютерной сети, забастовки, гражданские волнения, беспорядки, любые иные обстоятельства, не ограничиваясь перечисленным, которые могут повлиять на выполнение Исполнителем условий настоящей публичной оферты и неподконтрольные Исполнителю.</li>
		<li>В случае невозможности оказания услуг по вине Исполнителя, Исполнитель обязуется произвести возврат денежных средств, отпаченных Заказчиком, за минусом понесенных расходов Исполнителя на частичное оказание услуг Заказчику, если такое имеет мето быть. В иных случаях возврат денежных средств не производится.</li>
		<li>За невыполнение или ненадлежащее выполнение обязательств по настоящей публичной оферте Стороны несут ответственность в соответствии с действующим законодательством Российской Федерации. Договор вступает в силу с момента акцепта оферты и действует до выполнения Сторонами своих обязательств. Все споры и разногласия решаются путем переговоров Сторон. Срок рассмотрения рекламаций — тридцать дней.</li>
	</ol>
	<h2>Реквизиты исполнителя</h2>
	<dl>
		<dt>ИП Беспалов Арсен Георгиевич</dt>
		<dd>ИНН 381004151548</dd>
		<dd>ОГРН 314385020500125</dd>
		<dd>Р/с 40802810618350007723</dd>
		<dd>в БАЙКАЛЬСКИЙ БАНК СБЕРБАНКА РОССИИ</dd>
		<dd>К/c 30101810900000000607</dd>
		<dd>БИК 042520607</dd>
		<dd>Email: <a href="mailto:support@cnamrf.ru">support@cnamrf.ru</a></dd>
		<dd>Тел.: +7 (499) 704-69-17</dd>
	</dl>
	<small class="pull-right">
		Приложение<br>
		к Публичному договору-оферте<br>
		по оказанию информационных услуг
	</small>
	<h2>Прейскурант услуг</h2>
	<table class="table table-striped table-responsive">
		<thead>
			<tr>
				<th>Тарифный план</th>
				<th>Запросов в пакете</th>
				<th>Стоимость пакета</th>
				<th>Цена одного запроса</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>CNAM-Start</td>
				<td>0</td>
				<td>0 <i class="fa fa-rub"></i></td>
				<td>10 <i class="fa fa-rub"></i></td>
			</tr>
			<tr>
				<td>CNAM-XS</td>
				<td>1 000</td>
				<td>5 000 <i class="fa fa-rub"></i></td>
				<td>5 <i class="fa fa-rub"></i></td>
			</tr>
			<tr>
				<td>CNAM-XM</td>
				<td>10 000</td>
				<td>15 000 <i class="fa fa-rub"></i></td>
				<td>1,5 <i class="fa fa-rub"></i></td>
			</tr>
			<tr>
				<td>CNAM-XM3</td>
				<td>30 000</td>
				<td>20 000 <i class="fa fa-rub"></i></td>
				<td>0,67 <i class="fa fa-rub"></i></td>
			</tr>
			<tr>
				<td>CNAM-XM5</td>
				<td>50 000</td>
				<td>30 000 <i class="fa fa-rub"></i></td>
				<td>0,60 <i class="fa fa-rub"></i></td>
			</tr>
			<tr>
				<td>CNAM-XL</td>
				<td>100 000</td>
				<td>50 000 <i class="fa fa-rub"></i></td>
				<td>0,50 <i class="fa fa-rub"></i></td>
			</tr>
			<tr>
				<td>CNAM-XL5</td>
				<td>500 000</td>
				<td>200 000 <i class="fa fa-rub"></i></td>
				<td>0,40 <i class="fa fa-rub"></i></td>
			</tr>
			<tr>
				<td>CNAM-XXL</td>
				<td>1 000 000</td>
				<td>300 000 <i class="fa fa-rub"></i></td>
				<td>0,30 <i class="fa fa-rub"></i></td>
			</tr>
			<tr>
				<td>CNAM-XXL3</td>
				<td>3 000 000</td>
				<td>600 000 <i class="fa fa-rub"></i></td>
				<td>0,20 <i class="fa fa-rub"></i></td>
			</tr>
			<tr>
				<td>CNAM-XXL5</td>
				<td>5 000 000</td>
				<td>700 000 <i class="fa fa-rub"></i></td>
				<td>0,14 <i class="fa fa-rub"></i></td>
			</tr>
		</tbody>
	</table>
{% endblock %}