{% extends 'layout/base.html' %}

{% block title %}Панель управления системы CNAM РФ{% endblock %}
{% block content %}
	<h1 class="page-header">Общие данные</h1>
	<div class="panel panel-danger">
		<div class="panel-heading">Добро пожаловать!</div>
		<div class="panel-body">
			<ol class="progtrckr hidden-xs hidden-sm" data-progtrckr-steps="4">
				<li class="progtrckr-done">Регистрация</li>
				<li class="progtrckr-{{progtrckr_module}}">Подключение модуля</li>
				<li class="progtrckr-{{progtrckr_balans}}">Пополнение баланса</li>
				<li class="progtrckr-{{progtrckr_tariff}}">Выбор тарифного плана</li>
			</ol>
			<p>Чтобы начать пользоваться системой, вам необходимо сначала <a href="/#about-project">выбрать интересующий модуль</a>, установить его, ввести <a href="/cabinet/key/">ключ доступа</a> в модуле, <a href="/cabinet/balans/">пополнить ваш балланс</a>, выбрать <a href="/cabinet/tariff/">подходящий тариф</a> и начать пользоваться.</p>
		</div>
	</div>
	<div class="panel panel-success">
		<div class="panel-heading">Текущий тарифный план</div>
		<div class="panel-body">
			<h1>«CNAM-Start» <small class="hidden-xs hidden-sm">10 <i class="fa fa-rub"></i>/запрос</small></h1>
			<p class="text-muted hidden-md hidden-lg"><strong>10 <i class="fa fa-rub"></i>/запрос</strong></p>
			<p>Данный тарифный план не имеет минимальной суммы для подключения, он будет действовать до тех пор, пока вами не будет выбран подходящий тариф. Вы можете пользоваться данным тарифом также в ознакомительных целях, пополняя баланс от 100 до 5 000 рублей. При пополнении баланса свыше 5 000 рублей, рекомендуется подключить тариф CNAM-XS, т.к. стоимость каждого запроса на текущем тарифе очень высока.</p>
		</div>
		<div class="panel-footer">
			<a href="/cabinet/tariff/" class="btn btn-lg btn-success btn-block">Сменить тарифный план</a>
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">Последние 10 запросов</div>
		<div class="panel-body">
			{% if logs_data %}
				<table class="table table-hover table-responsive">
					<thead>
						<tr>
							<th>Номер телефона</th>
							<th>Дебет</th>
							<th>Кредит</th>
							<th>Клиентская система</th>
							<th>IP клиента</th>
							<th>Дата время</th>
						</tr>
					</thead>
					<tbody>
						{% for log_data in logs_data %}
							<tr>
								<td>{{ log_data.phone }}</td>
								<td class="text-success text-right">+{{ log_data.debet }}</td>
								<td class="text-danger text-right">-{{ log_data.credit }}</td>
								<td>{{ log_data.client }}</td>
								<td>{{ log_data.ip }}</td>
								<td>{{ log_data.modtime }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% else %}
				<p>Здесь вы найдете информацию о послединх 10 сделанных запроса к системе «CNAM РФ». До тех пор пока вы не делали никаких запросов, здесь ничего не будет отображаться.</p>
			{% endif %}
		</div>
	</div>
{% endblock %}