<p><b><u>ИП Беспалов Арсен Георгиевич</u></b></p>
<p><b>Адрес: 664048, Иркутская обл, Иркутск г, Севастопольская ул, д. 253, кв. 57, тел.: (499) 704-69-17</b></p>
<p align="center" style="padding-bottom:0"><b>Образец заполнения платежного поручения</b></p>
<table border="1" cellpadding="1" cellspacing="0">
	<tr>
		<td>ИНН 381004151548</td>
		<td>КПП</td>
		<td rowspan="2">Сч. №</td>
		<td rowspan="2">40802810618350007723</td>
	</tr>
	<tr>
		<td colspan="2">Получатель <br>ИП Беспалов Арсен Георгиевич</td>
	</tr>
</table>