<table>
    <tr>
        <td>&nbsp;</td>
        <td>
            Внимание! Оплата данного счета означает согласие с условиями оказания информационных услуг системы «CNAM РФ». Уведомление об оплате  обязательно, в противном случае зачисление денежных средств может затянуться до 7 рабочих дней. Зачисление денежных средств на лицевой счет Покупателя в системе «CNAM РФ» осуществляется по факту прихода денег на р/с Поставщика.
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div style="text-align:center;  font-weight:bold;">
                Образец заполнения платежного поручения
            </div>
        </td>
    </tr>
</table>


<table cellpadding="1" cellspacing="0" border="1">
    <tr>
        <td colspan="2" rowspan="2">
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td valign="top">
                        <div>БАЙКАЛЬСКИЙ БАНК СБЕРБАНКА РОССИИ г. ИРКУТСК</div>
                    </td>
                </tr>
                <tr>
                    <td valign="bottom">
                        <div>Банк получателя</div>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <div>БИK</div>
        </td>
        <td rowspan="2" style="vertical-align: top;">
            <div style="vertical-align: middle;">042520607</div>
            <div>30101810900000000607</div>
        </td>
    </tr>
    <tr>
        <td>
            <div>Сч. №</div>
        </td>
    </tr>
    <tr>
        <td>
            <div>ИНН 381004151548</div>
        </td>
        <td>
            <div>КПП </div>
        </td>
        <td rowspan="2" style="vertical-align: top;">
            <div>Сч. №</div>
        </td>
        <td rowspan="2" style="vertical-align: top;">
            <div>40802810618350007723</div>
        </td>
    </tr>
    <tr>
        <td colspan="2">

            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td valign="top">
                        <div>Индивидуальный предприниматель БЕСПАЛОВ АРСЕН ГЕОРГИЕВИЧ</div>
                    </td>
                </tr>
                <tr>
                    <td valign="bottom">
                        <div>Получатель</div>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>
<br/>

<div style="font-weight: bold; padding-left:5px;">
    Счет № {{ invoice_number }} от {{ invoice_date }}</div>
<br/>

<div style="background-color:#000000; width:100%; font-size:1px; height:2px;">&nbsp;</div>

<table>
    <tr>
        <td>
            <div>Поставщик:</div>
        </td>
        <td>
            <div>
                Индивидуальный предприниматель БЕСПАЛОВ АРСЕН ГЕОРГИЕВИЧ            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div>Покупатель:    </div>
        </td>
        <td>
            <div>
                {{ company_name }}            </div>
        </td>
    </tr>
</table>


<table cellpadding="1" cellspacing="0" border="1">
    <thead>
    <tr>
        <th>№</th>
        <th>Товар (работы, услуги)</th>
        <th>Кол-во</th>
        <th>Ед.</th>
        <th>Цена</th>
        <th>Сумма</th>
    </tr>
    </thead>
    <tbody >
<tr><td align="center">1</td><td align="left">Предоплата за оказание информационных услуг на сайте www.cnamrf.ru на лицевой счет № {{ userid }}</td><td align="right">1</td><td align="left">мес.</td><td align="right">{{ price }}</td><td align="right">{{ summ }}</td></tr>    </tbody>
</table>

<table border="0" cellpadding="1" cellspacing="1">
    <tr>
        <td></td>
        <td style="text-align:right;">Итого:</td>
        <td style="text-align:right;">{{ total }}</td>
    </tr>
</table>

<br />
<div>
Всего наименований 1 на сумму {{ summa }} рублей.<br />
{{ summa_text }} рублей {{ cents }} копеек</div>
<br /><br />
<div style="background-color:#000000; width:100%; font-size:1px; height:2px;">&nbsp;</div>
<br/>

<div>Руководитель ______________________ (Беспалов А.Г.)</div>
<br/>

<div>Главный бухгалтер ______________________ (Беспалов А.Г.)</div>
<br/>

<div style="text-align:center;">М.П.</div>
<br/>


<div style="text-align:left;">Счет действителен к оплате в течении четырнадцати дней.</div>

</body>
</html>
