{% extends 'layout/base.html' %}

{% block title %}Персональный API ключ{% endblock %}
{% block content %}
	<h1 class="page-header">Управление ключом</h1>
	<p class="lead">Этот ключ был сформирован для вас в момент регистрации и не измениться до тех пока вы его сами не поменяете. Этот ключ как ваш персональный пароль, его не надо публиковать для общего доступа. И если вдруг он оказался в открытом источнике, мы рекомендуем настоятельно сгенерировать новый ключ.</p>
	<div class="well">
		<h2>API Key: {{ apikey }}</h2>
	</div>
{% endblock %}