{% extends 'layout/base.html' %}

{% block title %}Статистика{% endblock %}
{% block content %}
	<h1 class="page-header">Статистика</h1>
	<p class="lead">Данные по использования системы — будь то зачисление денежных средств на лицевой счет или использование системы для получения данных по номеру телефона. Время в таблице московское.</p>
	<table class="table table-hover table-responsive">
		<thead>
			<tr>
				<th>Номер телефона</th>
				<th>Дебет</th>
				<th>Кредит</th>
				<th>Клиентская система</th>
				<th>IP клиента</th>
				<th>Дата время</th>
			</tr>
		</thead>
		<tbody>
			{% for log_data in logs_data %}
				<tr>
					<td>{{ log_data.phone }}</td>
					<td class="text-success text-right">
						{% if not log_data.debet in '0.00' %}
							+{{ log_data.debet }}
						{% endif %}
					</td>
					<td class="text-danger text-right">
						{% if not log_data.credit in '0.00' %}
							-{{ log_data.credit }}
						{% endif %}
					</td>
					<td>{{ log_data.client }}</td>
					<td>{{ log_data.ip }}</td>
					<td>{{ log_data.modtime }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}