{% extends 'layout/base.html' %}

{% block title %}Статистика{% endblock %}
{% block content %}
	<h1 class="page-header">Статистика</h1>
	<p class="lead">Данные по использования системы — будь то зачисление денежных средств на лицевой счет или использование системы для получения данных по номеру телефона. Время в таблице московское.</p>
	<table class="table table-hover table-responsive">
		<thead>
			<tr>
				<th>Запрос</th>
				<th>Дебет / Кредит</th>
				<th>Клиентская система</th>
				<th>IP клиента</th>
				<th>Дата время</th>
			</tr>
		</thead>
		<tbody>
			{% for log_data in logs_data %}
				<tr>
					<td nowrap>{{ log_data.phone }}{{ log_data.query }}</td>
					<td nowrap class="text-right">
						{% if log_data.debet in '0.00' %}
						{% else %}
							<span class="text-success">+{{ log_data.debet }}</span>
						{% endif %}
						{% if log_data.credit in '0.00' %}
						{% else %}
							<span class="text-danger">-{{ log_data.credit }}</span>
						{% endif %}
					</td>
					<td>{{ log_data.client }}</td>
					<td nowrap>{{ log_data.ip }}</td>
					<td nowrap>{{ log_data.modtime }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{# <p class="lead">{{pages.totalPages}}</p> #}
	{% if pages.totalPages > 1 %}
		<nav>
			<ul class="pagination">
				{% for page in 1..pages.totalPages %}
					<li{{page == pages.currentPage ? ' class="active"'}}>
						<a href="/cabinet/log/{{page}}/">{{page}}</a>
					</li>
				{% endfor %}
			</ul>
		</nav>
	{% endif %}
{% endblock %}