{% extends 'layout/base.html' %}

{% block title %}Статистика{% endblock %}
{% block content %}
	<h1 class="page-header">Статистика</h1>
	<p class="lead">Данные по использования системы — будь то зачисление денежных средств на лицевой счет или использование системы для получения данных по номеру телефона. Время в таблице московское.</p>
	<div class="table-responsive">
		<table class="table table-hover" id="logsTable">
			<thead>
				<tr>
					<th>Запрос</th>
					<th class="moneyColumn">Дебет / Кредит</th>
					<th>Клиентская система</th>
					<th class="ipColumn">IP клиента</th>
					<th>Дата время</th>
				</tr>
			</thead>
			<tbody>
				{% for log_data in logs_data %}
					<tr>
						<td>
							<span id="query">
								{{ log_data.phone }}
								{{ log_data.query }}
								{% if log_data.cp %}
									<button type='button' class='btn btn-link btn-xs' data-toggle='modal' data-target='json_{{ log_data.id }}'>json</button><div class='modal' id='json_{{log_data.id}}' tabindex='-1' role='dialog'><div class='modal-dialog' role='document'><div class='modal-content'><div class='modal-header'><button type='button' class='close' data-dismiss='modal' aria-label='Закрыть'><span aria-hidden='true'>&times;</span><button><h4 class='modal-title'>{{ log_data.cp }}</h4></div><div class='modal-body'><pre>{{ log_data.query }}</pre></div><div class='moda-footer'><button type='button' class='btn btn-default' data-dismiss='modal'>Закрыть</button></div></div></div></div>
								{% endif %}
							</span>
						</td>
						<td class="text-right moneyColumn">
							{% if log_data.debet in '0.00' %}
							{% else %}
								<span class="text-success" id="money">+{{ log_data.debet }} <i class="fa fa-fw fa-rub"></i></span>
							{% endif %}
							{% if log_data.credit in '0.00' %}
							{% else %}
								<span class="text-danger" id="money">-{{ log_data.credit }} <i class="fa fa-fw fa-rub"></i></span>
							{% endif %}
						</td>
						<td><span id="client">{{ log_data.client }}</span></td>
						<td class="ipColumn"><span id="ip">{{ log_data.ip }}</span></td>
						<td><span id="modtime">{{ log_data.modtime }}</span></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% if pages.totalPages > 1 %}
		<nav class="text-center">
			<ul class="pagination">
				{% for page in range(1, pages.totalPages) %}
					<li{% if (page == pages.currentPage) %} class="active"{% endif %}>
						<a href="/cabinet/log/{{pages.uid}}/{{page}}/">{{page}}</a>
					</li>
				{% endfor %}
			</ul>
		</nav>
	{% endif %}
{% endblock %}
{% block scripts %}
	<script>
	$(function () {
		var mWidth = cWidth = ipWidth = mtWidth = 0
		$('#logsTable tbody').find('span[id*="money"]').each(function() {
			if ($(this).width() > mWidth) mWidth = $(this).width()
		})
		$('#logsTable tbody').find('span[id*="client"]').each(function() {
			if ($(this).width() > cWidth) cWidth = $(this).width()
		})
		$('#logsTable tbody').find('span[id*="ip"]').each(function() {
			if ($(this).width() > ipWidth) ipWidth = $(this).width()
		})
		$('#logsTable tbody').find('span[id*="modtime"]').each(function() {
			if ($(this).width() > mtWidth) mtWidth = $(this).width()
		})
		mWidth = mWidth + 20
		cWidth = cWidth + 20
		ipWidth = ipWidth + 20
		mtWidth = mtWidth + 20
		if (mWidth == 20)
			$('#logsTable .moneyColumn').hide()
		else
			$('#logsTable thead').find('th').eq(1).attr('style', 'width:'+mWidth+'px;')
		$('#logsTable thead').find('th').eq(2).attr('style', 'width:'+cWidth+'px;')
		$('#logsTable thead').find('th').eq(3).attr('style', 'width:'+ipWidth+'px;')
		$('#logsTable thead').find('th').eq(4).attr('style', 'width:'+mtWidth+'px;')
	})
	</script>
{% endblock %}