{% extends 'layout/base.html' %}

{% block title %}Мои телефоны{% endblock %}
{% block content %}
	<h1 class="page-header">Справочник личных телефонов</h1>
	<p class="lead">Хотите добавить собственный мобильный или домашний телефон. Может быть в вашей компании используются телефоны, которые не занесены в справочник 2ГИС, но вы хотите чтобы те кто пользуется системой «CNAM РФ» видели название вашей компании? Тогда вы можете это сделать именно здесь. Добавьте номер, подтвердите его по СМС или по звонку и будьте уверены — другие клиенты системы «CNAM РФ», а также абоненты операторов партнеров узнают Вас и/или вашу компанию!</p>
	<table class="table table-hover table-responsive">
		<thead>
			<tr>
				<th>Номер</th>
				<th>Имя по-русски</th>
				<th>Имя в транслите</th>
				<th class="text-center">Статус</th>
				<th class="text-center">Действие</th>
			</tr>
		</thead>
		<tbody>
			{% if not my_phones %}
				<tr>
					<td class="text-muted">+7 (499) 704-69-17</td>
					<td class="text-muted">CNAM РФ</td>
					<td class="text-muted">CNAM RF</td>
					<td class="text-center text-muted"><i class="fa fa-check-square-o"></i></td>
					<td class="text-center"><a href="#." class="btn btn-default btn-xs disabled">Удалить</a></td>
				</tr>
			{% else %}
				{% for pb_data in my_phones %}
					<tr>
						<td>{{pb_data.phone}}</td>
						<td>{{pb_data.name}}</td>
						<td>{{pb_data.translit}}</td>
						<td class="text-center">
							{% if pb_data.verify in 't' %}
								<i class="fa fa-check-square-o"></i>
							{% else %}
								<i class="fa fa-square-o"></i>
							{% endif %}
						</td>
						<td class="text-center">
							{% if pb_data.verify in 't' %}
								<button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#deletePhone" data-pb-phone="{{pb_data.phone}}"><i class="fa fa-trash-o"></i>&emsp;Удлаить</button>
							{% else %}
								<button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#deletePhone" data-pb-phone="{{pb_data.phone}}"><i class="fa fa-trash-o"></i>&emsp;Удлаить</button>
								<button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#confirmPhone" data-pb-phone="{{pb_data.phone}}"><i class="fa fa-check"></i>&emsp;Подтвердить</button>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			{% endif %}
		</tbody>
	</table>
	<div class="text-center">
		<button type="button" class="btn btn-success" data-toggle="modal" data-target="#addPhone" data-tariff-action="add"><i class="fa fa-plus"></i> Добавить новый номер</button>
	</div>

	<div class="well" style="padding-top: 40px;">Внимание! Стомость подтверждения платные, каждая отправленная смс стоит 2 рубля, каждый звонок на телефон — 1 рубль/минута. Подтверждение номеров не доступно подаренными деньгами от сервиса «CNAM РФ», для того, чтобы внести свои номера в справочник необходимо внести соразмерные средства на лицевой счет.</div>

	<div class="modal fade" id="addPhone" tabindex="-1" role="dialog" aria-labelledby="adminModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="adminModalLabel">Добавление нового номера</h4>
				</div>
				<div class="modal-body">
					<form action="/cabinet/addPhone/" method="post" id="addPhoneForm">
						<div class="form-group">
							<label for="phoneNumber" class="control-label">Номер телефона:</label>
							<input type="text" class="form-control input-lg" id="phoneNumber" name="phoneNumber" value="7">
							<p class="help-block" id="desc"></p>
						</div>
						<div class="form-group">
							<label for="phoneName" class="control-label">Имя по-русски:</label>
							<input type="text" class="form-control" id="phoneName" name="phoneName">
							<p class="help-block">Название вашей компании или ваши инициалы. Внимательно заполняйте данное поле, т.к. редактирование не доступно.</p>
						</div>
						<div class="form-group">
							<label for="phoneTranslit" class="control-label">Имя в транслите:</label>
							<input type="text" class="form-control" id="phoneTranslit" name="phoneTranslit">
							<p class="help-block">Ваше же название компании или ваши инициалы в транслите. Данная информация будет использоваться для отображения на дисплеях телефонов. Также внимательно заполняйте данное поле, т.к. редактирование не доступно.</p>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button class="btn btn-default" type="button" data-dismiss="modal">Отменить</button>
					<button class="btn btn-primary" id="action">Добавить</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="confirmPhone" tabindex="-1" role="dialog" aria-labelledby="adminModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="adminModalLabel">Подтверждение номера</h4>
				</div>
				<div class="modal-body">
					<p class="text-justify">Для того, чтобы подтвердить право на данный номер телефона, необходимо подготовить вашу мини АТС таким образом, чтобы все входящие звонки приходили прямо на ваш внутренний номер, если конечно используется мини АТС. После этого нажмите кнопку «Позвонить на этот номер». В том случае, если вы подтверждаете мобильный телефон, нажмите кнопку «Отправить код по СМС».</p>
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3">
								<button class="btn btn-default btn-block" id="callme"><i class="fa fa-phone"></i>&emsp;Позвонить на этот номер</button>
								<p class="text-center">
									<small id="callme-status" ></small>
								</p>
								<button class="btn btn-default btn-block" id="smsme"><i class="fa fa-mobile"></i>&emsp;Отправить код по SMS</button>
								<p class="text-center">
									<small id="smsme-status"></small>
								</p>
							</div>
						</div>
					</div>
					<p class="center-text">
						
					</p>
					<form action="/cabinet/confirmPhone/checkCode/" method="post" id="confirmPhoneForm">
						<div class="form-group">
							<label for="phoneCode" class="control-label">Код подтверждения:</label>
							<input type="text" class="form-control input-lg text-center" id="phoneCode" name="phoneCode">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button class="btn btn-default" type="button" data-dismiss="modal">Отменить</button>
					<button class="btn btn-primary" id="action">Подтвержить</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="deletePhone" tabindex="-1" role="dialog" aria-labelledby="adminModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="adminModalLabel">Удаление номера</h4>
				</div>
				<div class="modal-body">
					<p class="lead text-justify">Если вы подтверждаете удаление данного номера, то введите его в форму ниже и нажмите кнопку «Удалить».</p>
					<form action="/cabinet/deletePhone/" method="post" id="deletePhoneForm">
						<input type="hidden" name="deletedPhoneNumber" value="7">
						<div class="form-group">
							<label for="phoneNumber" class="control-label">Номер телефона:</label>
							<input type="text" class="form-control input-lg" id="phoneNumber" name="phoneNumber" value="7">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button class="btn btn-default" type="button" data-dismiss="modal">Отменить</button>
					<button class="btn btn-danger" id="action">Удалить</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script src="/js/jquery.shakeit.js"></script>
	<script src="/js/jquery.inputmask.js"></script>
	<script src="/js/jquery.bind-first-0.2.3.min.js"></script>
	<script src="/js/jquery.inputmask-multi.js"></script>
	<script src="/js/jquery.liTranslit.js"></script>
	<script>
	$(function () {
		var listRU = $.masksSort($.masksLoad("/js/phones-ru.json"), ['#'], /[0-9]|#/, "mask")
		var optsRU = {
			inputmask: {
				definitions: {
					'#': {
						validator: "[0-9]",
						cardinality: 1
					}
				},
				showMaskOnHover: false,
				autoUnmask: true
			},
			match: /[0-9]/,
			replace: '#',
			list: listRU,
			listKey: "mask",
			onMaskChange: function(maskObj, determined) {
				if (determined) {
					if (maskObj.type != "mobile") {
						$("#desc").html(maskObj.city.toString() + " (" + maskObj.region.toString() + ")")
					} else {
						$("#desc").html("мобильный")
					}
				} else {
					$("#desc").html()
				}
				$(this).attr("placeholder", $(this).inputmask("getemptymask"))
			}
		}
		var optsTranslit = {
			mask: "*{1,255}",
			definitions: {
				"*": {
					validator: '[0-9A-Za-z ".,!@#$&%^*()=+:;?~№{}|/<>\-]',
					cardinality: 1
				}
			}
		}

		$('#addPhone').on('show.bs.modal', function (event) {
			var button = $(event.relatedTarget)
			var action = button.data('tariff-action')
			var modal = $(this)
			modal.find('#phoneNumber').inputmasks(optsRU)
			modal.find('#phoneName').liTranslit({
				elAlias: modal.find('#phoneTranslit')
			})
			modal.find('#phoneTranslit').inputmask(optsTranslit)
			modal.find('#action').click(function() { $('#addPhoneForm').submit() })
		})

		$('#confirmPhone').on('show.bs.modal', function (event) {
			var button = $(event.relatedTarget)
			var phone = button.data('pb-phone')
			var modal = $(this)
			modal.find('#adminModalLabel').text('Подтверждение номера ' + phone)
			modal.find('#phoneCode').inputmask('99 99')
			modal.find('#callme').click(function(e) {
				var btn = $(this)
				var btn_text = btn.html()
				btn.attr('disabled', 'disabled')
				btn.html('<i class="fa fa-spinner fa-pulse"></i> Дозваниваемся...')
				$.post('/cabinet/confirmPhone/callPSTN/', { phoneNumber: phone }, function(data) {
					alert(data);
					if (data == '200') {
						$('#callme-status').text('Выполняется звонок на этот номер.')
						$('#callme-status').addClass('text-success')
					} else {
						$('#callme-status').text('Дозвониться не удалось.')
						$('#callme-status').addClass('text-danger')
					}
				}).done(function() {
					btn.html(btn_text)
				})
			})
			modal.find('#smsme').removeAttr('disabled')
			modal.find('#smsme').click(function(e) {
				var btn = $(this)
				var btn_text = btn.html()
				btn.attr('disabled', 'disabled');
				btn.html('<i class="fa fa-spinner fa-pulse"></i> Отправка смс сообщения...')
				$.post('/cabinet/confirmPhone/sendSMS/', { phoneNumber: phone }, function(data) {
					if (data == '200') {
						$('#smsme-status').text('Код отправлен на указанный телефон.')
						$('#smsme-status').addClass('text-success')
					} else {
						$('#smsme-status').text('На данный номер смс отправить не удалось. Либо номер неверный, либо вы недавно уже отправляли смс на этот номер. Повторно отправить смс можно будет через 30 минут.')
						$('#smsme-status').addClass('text-danger')
					}
				}).done(function() {
					btn.html(btn_text)
				})
			})
			modal.find('#action').click(function() { $('#confirmPhoneForm').submit() })
		})

		$('#confirmPhone').on('hide.bs.modal', function (event) {
			var modal = $(this)
			modal.find('#smsme-status').removeClass('text-success text-danger')
			modal.find('#callme-status').removeClass('text-success text-danger')
			modal.find('#smsme-status').empty()
			modal.find('#callme-status').empty()
		})

		$('#deletePhone').on('show.bs.modal', function (event) {
			var button = $(event.relatedTarget)
			var phone = button.data('pb-phone')
			var modal = $(this)
			modal.find('#adminModalLabel').text('Удаление номера ' + phone)
			modal.find('input[name="deletedPhoneNumber"]').val(phone)
			modal.find('#phoneNumber').inputmasks(optsRU)
			modal.find('#action').click(function() { $('#deletePhoneForm').submit() })
		})

		$('#deletePhoneForm').submit(function(e) {
			var form = $(this)
			var deletedPhone = form.find('input[name="deletedPhoneNumber"]').val().replace(/[+()-\s]/g, '')
			var inputPhone = form.find('input[name="phoneNumber"]').val()
			if (deletedPhone == inputPhone) {
				return true
			} else {
				form.find('input[name="phoneNumber"]').shakeit(2,7,300)
				return false
			}
		})
	})
	</script>
{% endblock %}