{% extends 'layout/base.html' %}

{% block title %}Мои телефоны{% endblock %}
{% block content %}
	<h1 class="page-header">Справочник личных телефонов</h1>
	<p class="lead">Хотите добавить собственный мобильный или домашний телефон. Может быть в вашей компании используются телефоны, которые не занесены в справочник 2ГИС, но вы хотите чтобы те кто пользуется системой «CNAM РФ» видели название вашей компании? Тогда вы можете это сделать именно здесь. Добавьте номер, подтвердите его по СМС или по звонку и будьте уверены — другие клиенты системы «CNAM РФ», а также абоненты операторов партнеров узнают Вас и/или вашу компанию!</p>
	<table class="table table-hover table-responsive">
		<thead>
			<tr>
				<th>Номер</th>
				<th>Имя по-русски</th>
				<th>Имя в транслите</th>
				<th class="text-center">Статус</th>
				<th class="text-center">Действие</th>
			</tr>
		</thead>
		<tbody>
			{% if not my_phones %}
				<tr>
					<td class="text-muted">+7 (499) 704-69-17</td>
					<td class="text-muted">CNAM РФ</td>
					<td class="text-muted">CNAM RF</td>
					<td class="text-center text-muted"><i class="fa fa-check-square-o"></i></td>
					<td class="text-center"><a href="#." class="btn btn-default btn-xs disabled">Удалить</a></td>
				</tr>
			{% else %}
				{% for pb_data in my_phones %}
					<tr>
						<td>{{pb_data.phone}}</td>
						<td>{{pb_data.name}}</td>
						<td>{{pb_data.translit}}</td>
						<td class="text-center">
							{% if pb_data.status %}
								<i class="fa fa-check-square-o"></i>
							{% else %}
								<i class="fa fa-square-o"></i>
							{% endif %}
						</td>
						<td class="text-center">
							{% if pb_data.status %}
								<button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#delete" data-pb-phone="{{pb_data.phone}}"><i class="fa fa-trash-o"></i>&emsp;Удлаить</button>
							{% else %}
								<button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#delete" data-pb-phone="{{pb_data.phone}}"><i class="fa fa-trash-o"></i>&emsp;Удлаить</button>
								<button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#confirm" data-pb-phone="{{pb_data.phone}}"><i class="fa fa-check"></i>&emsp;Подтвердить</button>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			{% endif %}
		</tbody>
	</table>
	<div class="text-center">
		<button type="button" class="btn btn-success" data-toggle="modal" data-target="#addPhone" data-tariff-action="add"><i class="fa fa-plus"></i> Добавить новый номер</button>
	</div>

	<div class="modal fade" id="addPhone" tabindex="-1" role="dialog" aria-labelledby="adminModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="adminModalLabel">Добавление нового номера</h4>
				</div>
				<div class="modal-body">
					<form action="/cabinet/addPhone/" method="post" id="addPhoneForm">
						<div class="form-group">
							<label for="phoneNumber" class="control-label">Номер телефона:</label>
							<input type="text" class="form-control input-lg" id="phoneNumber" name="phoneNumber" value="7">
							<p class="help-block" id="desc"></p>
						</div>
						<div class="form-group">
							<label for="phoneName" class="control-label">Имя по-русски:</label>
							<input type="text" class="form-control" id="phoneName" name="phoneName">
							<p class="help-block">Название вашей компании или ваши инициалы. Внимательно заполняйте данное поле, т.к. редактирование не доступно.</p>
						</div>
						<div class="form-group">
							<label for="phoneTranslit" class="control-label">Имя в транслите:</label>
							<input type="text" class="form-control" id="phoneTranslit" name="phoneTranslit">
							<p class="help-block">Ваше же название компании или ваши инициалы в транслите. Данная информация будет использоваться для отображения на дисплеях телефонов. Также внимательно заполняйте данное поле, т.к. редактирование не доступно.</p>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button class="btn btn-default" type="button" data-dismiss="modal">Отменить</button>
					<button class="btn btn-primary" id="action">Добавить</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="adminModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="adminModalLabel">Подтверждение номера</h4>
				</div>
				<div class="modal-body">
					<form action="/cabinet/checkConfirmPhone/" method="post" id="confirmForm">
						<div class="form-group">
							<label for="phoneNumber" class="control-label">Номер телефона:</label>
							<input type="text" class="form-control input-lg text-center" id="phoneNumber" name="phoneNumber" readonly>
						</div>
						<div class="form-group">
							<label for="phoneCode" class="control-label">Код подтверждения:</label>
							<input type="text" class="form-control input-lg text-center" id="phoneCode" name="phoneCode">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button class="btn btn-default" type="button" data-dismiss="modal">Отменить</button>
					<button class="btn btn-primary" id="action">Подтвержить</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script src="/js/jquery.inputmask.js"></script>
	<script src="/js/jquery.bind-first-0.2.3.min.js"></script>
	<script src="/js/jquery.inputmask-multi.js"></script>
	<script src="/js/jquery.liTranslit.js"></script>
	<script>
	$(function () {
		var listRU = $.masksSort($.masksLoad("/js/phones-ru.json"), ['#'], /[0-9]|#/, "mask")
		var optsRU = {
			inputmask: {
				definitions: {
					'#': {
						validator: "[0-9]",
						cardinality: 1
					}
				},
				showMaskOnHover: false,
				autoUnmask: true
			},
			match: /[0-9]/,
			replace: '#',
			list: listRU,
			listKey: "mask",
			onMaskChange: function(maskObj, determined) {
				if (determined) {
					if (maskObj.type != "mobile") {
						$("#desc").html(maskObj.city.toString() + " (" + maskObj.region.toString() + ")")
					} else {
						$("#desc").html("мобильный")
					}
				} else {
					$("#desc").html()
				}
				$(this).attr("placeholder", $(this).inputmask("getemptymask"))
			}
		}
		var optsTranslit = {
			mask: "*{1,255}",
			definitions: {
				"*": {
					validator: '[0-9A-Za-z ".,!@#$&%^*()=+:;?~№{}|/<>\-]',
					cardinality: 1
				}
			}
		}

		$('#addPhone').on('show.bs.modal', function (event) {
			var button = $(event.relatedTarget)
			var action = button.data('tariff-action')
			var modal = $(this)
			modal.find('#phoneNumber').inputmasks(optsRU)
			modal.find('#phoneName').liTranslit({
				elAlias: modal.find('#phoneTranslit')
			})
			modal.find('#phoneTranslit').inputmask(optsTranslit)
			modal.find('#action').click(function() { $('form#addPhoneForm').submit() })
		})
	})
	</script>
{% endblock %}