{% extends 'layout/base.html' %}

{% block title %}Управление аккаунтом{% endblock %}
{% block content %}
	<h1 class="page-header">Управление аккаунтом</h1>
	<p>Привяжите как можно больше ваших аккаунтов, тем самым упростив всю будущую авторизацию.</p>
	<p>Также хочется заметить, что наша база аккаунтов пользователей общая с базов «Генератора лидов», а следовательно мы используем общий баланс, но если вы использовали авторизацию через Facebook, то возможно для вас было создано несколько аккаунтов из-за того, что Facebook по неизвестным причинам разным сайтам выдает разные идентификаторы одного и того же пользователя. Если вы одновременно пользуетесь «Генератором лидов» и «CNAM РФ», а также первичный вход делали через Facebook, то вам следует написать об этом в службу поддержки: <a href="mailto:support@cnamrf.ru">support@cnamrf.ru</a> указав основной электронный адрес на Facebook и <a href="/cabinet/key/">API Key</a> выданный вам на нашем сайте.</p>
	<p>В остальных случаях вы должны увидеть единый аккаунт на этих двух сайтах и вам не стоит беспокоиться за объединение 2-х аккаунтов.</p>
{% endblock %}