{% extends 'layout/base.html' %}

{% block title %}Управление аккаунтом{% endblock %}
{% block content %}
	<h1 class="page-header">Управление аккаунтом № {{ userid }}</h1>
	<p>Привяжите как можно больше ваших аккаунтов, тем самым упростив всю будущую авторизацию. Также в любой момент вы можете отвязать ненужный аккаунт. Это просто и не требует от вас запоминания новых логинов и паролей.</p>
	{% set infotext %}
		<div class="col-sm-6">
			<small>
				<p>Также хочется заметить, что наша база аккаунтов пользователей общая с базов «Генератора лидов», а следовательно мы используем общий баланс, но если вы использовали авторизацию через Facebook, то возможно для вас было создано несколько аккаунтов из-за того, что Facebook по неизвестным причинам разным сайтам выдает разные идентификаторы одного и того же пользователя. Если вы одновременно пользуетесь «<a href="http://lead4crm.ru" target="_blank">Генератором лидов</a>» и «CNAM РФ», а также первичный вход делали через Facebook, то вам следует написать об этом в службу поддержки: <a href="mailto:support@cnamrf.ru">support@cnamrf.ru</a> указав основной электронный адрес на Facebook и <a href="/cabinet/key/">API Key</a> выданный вам на нашем сайте.</p>
				<p>В остальных случаях вы должны увидеть единый аккаунт на этих двух сайтах и вам не стоит беспокоиться за объединение 2-х аккаунтов.</p>
			</small>
		</div>
	{% endset %}

	<h3>Привязанные сети</h3>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6">
				{% if facebook %}
					<a href="/cabinet/unlink/facebook/" class="btn btn-lg btn-facebook btn-block">Facebook
						<span class="label label-default">{{ facebook }}</span>
					</a>
				{% endif %}
				{% if vkontakte %}
					<a href="/cabinet/unlink/vkontakte/" class="btn btn-lg btn-vkontakte btn-block">Вконтакте
						<span class="label label-default">{{ vkontakte }}</span>
					</a>
				{% endif %}
				{% if googleplus %}
					<a href="/cabinet/unlink/google-plus/" class="btn btn-lg btn-google-plus btn-block">Google+
						<span class="label label-default">{{ googleplus }}</span>
					</a>
				{% endif %}
				{% if odnoklassniki %}
					<a href="/cabinet/unlink/odnoklassniki/" class="btn btn-lg btn-odnoklassniki btn-block">Одноклассники
						<span class="label label-default">{{ odnoklassniki }}</span>
					</a>
				{% endif %}
				{% if mailru %}
					<a href="/cabinet/unlink/mailru/" class="btn btn-lg btn-mailru btn-block">Mail.Ru
						<span class="label label-default">{{ mailru }}</span>
					</a>
				{% endif %}
				{% if yandex %}
					<a href="/cabinet/unlink/yandex/" class="btn btn-lg btn-yandex btn-block">Яндекс
						<span class="label label-default">{{ yandex }}</span>
					</a>
				{% endif %}
			</div>
			{{ infotext }}
		</div>
	</div>
	{% if not facebook and not vkontakte and not googleplus and not odnoklassniki and not mailru and not yandex %}
		<h3>Не привязанные сети</h3>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					{% if not facebook %}
						<a href="{{ fb_link }}" class="btn btn-lg btn-facebook btn-block">Facebook</a>
					{% endif %}
					{% if not vkontakte %}
						<a href="{{ vk_link }}" class="btn btn-lg btn-vkontakte btn-block">Вконтакте</a>
					{% endif %}
					{% if not googleplus %}
						<a href="{{ gp_link }}" class="btn btn-lg btn-google-plus btn-block">Google+</a>
					{% endif %}
					{% if not odnoklassniki %}
						<a href="{{ ok_link }}" class="btn btn-lg btn-odnoklassniki btn-block">Одноклассники</a>
					{% endif %}
					{% if not mailru %}
						<a href="{{ mr_link }}" class="btn btn-lg btn-mailru btn-block">Mail.Ru</a>
					{% endif %}
					{% if not yandex %}
						<a href="{{ ya_link }}" class="btn btn-lg btn-yandex btn-block">Яндекс</a>
					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}