{% extends 'layout/base.html' %}

{% block title %}Поддержка{% endblock %}
{% block content %}
	<h1 class="page-header">Поддержка</h1>
	<p class="lead">Поддежку пользователей мы осуществляем по электронной почте, публичному чату или по телефону.</p>
	<h3>Публичный чат</h3>
	<p>Удобен для технического персонала, осуществляющих подключение к системе CNAM РФ. Вопросы можно решить быстро и оперативно с разработчиками системы.</p>
	<p><a href="https://gitter.im/LimyDesign/cnamrf.ru?utm_source=share-link&utm_medium=link&utm_campaign=share-link">https://gitter.im/LimyDesign/cnamrf.ru?utm_source=share-link&utm_medium=link&utm_campaign=share-link</a></p>
{% endblock %}