{% extends 'layout/base.html' %}

{% block title %}Поддержка{% endblock %}
{% block content %}
	<h1 class="page-header">Поддержка</h1>
	<p class="lead">Поддежку пользователей мы осуществляем по электронной почте, публичному чату или по телефону.</p>
	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title">Публичный чат</h3>
		</div>
		<div class="panel-body">
			<p>Удобен для технического персонала, осуществляющих подключение к системе CNAM РФ. Вопросы можно решить быстро и оперативно с разработчиками системы.</p>
		</div>
		<div class="panel-footer">
			<a href="https://gitter.im/LimyDesign/cnamrf.ru?utm_source=share-link&utm_medium=link&utm_campaign=share-link"><img src="https://badges.gitter.im/Join%20Chat.svg" alt=""></a>
		</div>
	</div>
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">Электронная почта</h3>
		</div>
		<div class="panel-body">
			<p>Есть вопросы, которые вы не хотели бы озвучивать публично, или у вас вопросы по бухгалтерии, или Ваш вопрос настолько сложной, что потребует от нас длительного ответа? Тогда напишите нам письмо и будьте уверены — мы обязательно ответим на наего, его оно того требует.</p>
		</div>
		<div class="panel-footer">
			<a href="mailto:support@cnamrf.ru"><img src="https://img.shields.io/badge/mailto-support%40cnamrf.ru-blue.svg" alt=""></a>
		</div>
	</div>
	<div class="panel panel-warning">
		<div class="panel-heading">
			<h3 class="panel-title">Телефон</h3>
		</div>
		<div class="panel-body">
			<p>Уверены что именно этот вопрос надо решить по телефону? Тогда звоните, мы принимаем звонки в любой время дня и ночи. Если вдруг вы попадете на автоответчик, не стесняйтесь, оставляйте сообщение после гудка, ведь нам важно узнать что вы хотели у нас спросить.</p>
		</div>
		<div class="panel-footer">
			<a href="tel:+74997046917"><img src="https://img.shields.io/badge/tel-%2B7%20(499)%20704--69--17-orange.svg" alt=""></a>
		</div>
	</div>
{% endblock %}