{% extends 'layout/base.html' %}

{% block title %}Управление тарифами{% endblock %}
{% block content %}
	<h1 class="page-header">Тарифные планы</h1>
	<p class="lead">Здесь вы можете выбрать наиболее подходящий вам терифный план, основываясь на максимальном значении общих входящих (или входящих и исходящих в случае использования тарификатора «ТелеРос») звонков. Если вы не знаете сколько в вашей компании входящих звонков, вы можете воспользоваться бесплатным тарификатором «ТелеРос».</p>
	<table class="table table-striped table-responsive col-sm-6 col-sm-offset-3">
		<thead>
			<tr>
				<th>Тарифный план</th>
				<th>Запросов в пакете</th>
				<th>Стоимость пакета</th>
				<th>Цена одного запроса</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>CNAM-Start</td>
				<td>0</td>
				<td>0 <i class="fa fa-rub"></i></td>
				<td>10 <i class="fa fa-rub"></i></td>
			</tr>
			<tr>
				<td>CNAM-XS</td>
				<td>1 000</td>
				<td>5 000 <i class="fa fa-rub"></i></td>
				<td>5 <i class="fa fa-rub"></i></td>
			</tr>
			<tr>
				<td>CNAM-XM</td>
				<td>10 000</td>
				<td>15 000 <i class="fa fa-rub"></i></td>
				<td>1,5 <i class="fa fa-rub"></i></td>
			</tr>
			<tr>
				<td>CNAM-XM3</td>
				<td>30 000</td>
				<td>20 000 <i class="fa fa-rub"></i></td>
				<td>0,67 <i class="fa fa-rub"></i></td>
			</tr>
			<tr>
				<td>CNAM-XM5</td>
				<td>50 000</td>
				<td>30 000 <i class="fa fa-rub"></i></td>
				<td>0,60 <i class="fa fa-rub"></i></td>
			</tr>
		</tbody>
	</table>
{% endblock %}