{% extends 'layout/base.html' %}

{% block title %}Управление тарифами{% endblock %}
{% block content %}
	<h1 class="page-header">Тарифные планы</h1>
	<p class="lead">Здесь вы можете выбрать наиболее подходящий вам терифный план, основываясь на максимальном значении общих входящих (или входящих и исходящих в случае использования тарификатора «<a href="http://телерос.рф/" target="_blank">ТелеРос</a>») звонков. Если вы не знаете сколько в вашей компании входящих звонков, вы можете воспользоваться бесплатным тарификатором «<a href="http://телерос.рф/" target="_blank">ТелеРос</a>».</p>
	<table class="table table-hover table-responsive">
		<thead>
			<tr>
				<th>Тарифный план</th>
				<th>Запросов в пакете</th>
				<th>Стоимость пакета</th>
				<th>Цена одного запроса</th>
			</tr>
		</thead>
		<tbody>
			{% for data in tariff_datas %}
				<tr>
					<td><a href="/cabinet/tariff/info/{{data.code}}/#info" data-toggle="tooltip" title="Информация о тарифе">{{data.name}}</td>
					<td class="text-right"><span id="qty">{{data.qty}}</span></td>
					<td class="text-right"><span id="sum">{{data.sum}}</span> <i class="fa fa-rub"></i></td>
					<td class="text-right"><span id="price">{{data.price}}</span> <i class="fa fa-rub"></i></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="panel panel-success" id="info">
		<div class="panel-heading">Описание тарифа</div>
		<div class="panel-body">
			<h1>«{{ cnam.name }}» <small class="hidden-xs hidden-sm">{{ cnam.price }} <i class="fa fa-rub"></i>/запрос</small></h1>
			<p class="text-muted hidden-md hidden-lg"><strong>{{ cnam.price }} <i class="fa fa-rub"></i>/запрос</strong></p>
			<p>{{ cnam.desc }}</p>
		</div>
		{% if tariff_allow %}
			<div class="panel-footer">
				<a href="/cabinet/setTariff/{{ cnam.id }}/" class="btn btn-lg btn-success btn-block">Подключить</a>
			</div>
		{% endif %}
	</div>
{% endblock %}
{% block scripts %}
<script>
	$(function () {
		$('[data-toggle="tooltip"]').tooltip()
		$('span[id="price"]').number(true, 2, '.', ' ')
		$('span[id="sum"]').number(true, 2, '.', ' ')
		$('span[id="qty"]').number(true, 2, '.', ' ')
	})

	$(window).load(function() {
		var hash = location.hash.replace('#','')
		if (hash != '') {
			$('html, body').animate({ scrollTop: $('#info').offset().top }, 1000)
		}
	})
</script>
{% endblock %}